# # Enable mod_rewrite
RewriteEngine On

# # Set the base URL for the website
# RewriteBase /

# # Redirect all requests to index.php
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-wA-Z0-9\-\_\/]*)$ index.php?p=$1

# # Set the default MIME type for the website
# AddType text/html .html .htm .shtml .php

# # Set the default character encoding for the website
# AddDefaultCharset utf-8

# # Set the maximum upload size for the website
# php_value upload_max_filesize 64M

# # Disable directory listing
# Options -Indexes

# # Set the error document for the website
# ErrorDocument 404 /404.html
